# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
/settings/websites.csv
/settings/system_paths.csv
/custom/*-sensitive.talon
.vscode/settings.json
.DS_Store
.bak

system_paths-N2650.talon-list
system_paths-DESKTOP-18DV23T.talon-list
system_paths.csv-converted-to-talon-list